.related{
    background: $bg-dark;
    color: $bg-light;
    padding: 50px 0 600px 0;
    text-align: center;
    p{
        margin: auto;
        font-size: 48px;
        width: 800px;
        margin-bottom: 50px;
    }
    input{
        outline: none;
        background-color: $bg-dark;
        border: 3px solid $bg-gold;
       max-width: 460px;
        height: 70px;
        align-items: center;
        padding: 10px;
        font-size: 30px;
        color: $bg-gold;
        
    }
    button{
        margin-left: 10px;
        width:160px;
        height: 70px;
        font-size: 30px;
        padding: 10px 20px;
        border: none;
        background-color: $bg-gold;
        color: $bg-light;
        transition: .2s;
        &:hover{
            background-color: $bg-dark;
            color: $bg-gold;
            border: 2px solid $bg-gold;
            border-radius: 10px  0 30px;   
        }
    }
}